body {
    font-family : sans-serif;
  }
  .text-heading {
    color : white;
    box-align : center;
  }
  .header {
    background-color : black;
    padding : 15px;
    text-align : center;
  }
  .nav_menu {
    overflow : hidden;
    background-color : #333;
  }
  .nav_menu a {
    float : left;
    display : block;
    color : white;
    text-align : center;
    padding : 14px 16px;
    text-decoration : none;
  }
  .nav_menu a:hover {
    background-color : white;
    color : black;
  }
  .columnB {
    width : 56%;
    padding : 10px;
    text-align : center;
    margin-left: 22%;
    margin-right: 22%;
  }
  
  .footer {
    background-color : navy;
    padding : 15px;
    text-align : center;
    overflow : hidden;
    background-color : #333;
    clear : left;

  }
  .footer a{
    display : inline;
    color : white;
    padding : 14px 16px;
    text-decoration : none;
    font-family : arial;
  }
  .footer a:hover {
    background-color : white;
    color : black;
  }
  .background{
    background-image: url(background1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100hv;
}
p{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 2.2em;
  font-size: larger;
  
}
