body {
    font-family : sans-serif;
  }
  .text-heading {
    color : white;
    box-align : center;
  }
  .header {
    background-color : black;
    padding : 15px;
    text-align : center;
  }
  .nav_menu {
    overflow : hidden;
    background-color : #333;
  }
  .nav_menu a {
    float : left;
    display : block;
    color : white;
    text-align : center;
    padding : 14px 16px;
    text-decoration : none;
  }
  .nav_menu a:hover {
    background-color : white;
    color : black;
  }
  
  .footer {
    background-color : navy;
    padding : 15px;
    text-align : center;
    overflow : hidden;
    background-color : #333;
    clear : left;

  }
  .footer a{
    display : inline;
    color : white;
    padding : 14px 16px;
    text-decoration : none;
    font-family : arial;
  }
  .footer a:hover {
    background-color : white;
    color : black;
  }
  .background{
    background-image: url(../background1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100hv;
 
    width: 500px;
    box-shadow: 0 0 20px 0 #999;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    }
    form{
      margin: 35px;
    }
    .input-field{
      width: 400px;
      height: 40px;
      margin-top: 20px;
      padding-left: 10px;
      padding-right: 10px;
      border: 1px solid #777;
      border-radius: 14px;
      outline: none;
    }
    .textarea-field{
      height: 150px;
      padding-top: 10;
    }
    .btn{
      border-radius: 20px;
      color: black;
      margin-top: 18px;
      padding: 10px;
      background-color: aqua;
      font-size: 12;
      border: none;
      cursor: pointer;
    }
